.footer {
 padding: 55px 0;

 @include tablet {
  padding-bottom: 30px;
 }

 @include mobile {
  padding-bottom: 14px;
 }

  &__container {
    display: grid;
   gap: 14px;
   grid-template-areas:
    'logo .'
    'copyright contact';

   @include mobile {
    grid-template-areas:
    'logo'
    'contact'
    'copyright';
    gap: 0;
   }
  }

  &__logo {
   grid-area: logo;
   align-self: flex-start;

   @include mobile {
    margin-bottom: 44px;
   }
  }

  &__copyright {
   grid-area: copyright;
   align-self: flex-end;

  }

  &__contact {
   grid-area: contact;
   align-self: flex-end;
   justify-self: flex-end;

   @include mobile {
    justify-self: start;
    margin-bottom: 33px;
   }

  }
 &__contact-name {
  margin-bottom: 7px;
 }
}

