.header {
  padding: 26px 0 25px;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 20px 30px;

  @include tablet {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.header__logo {
    margin-right: 58px;

  @include laptop {
  margin-right: 38px
  }

  @include tablet {
    margin-right: 0;
  }
  }

  .header__search {
    margin-right: auto;

    @include tablet {
      order: 1;
    }
  }

.header__auth {
    display: flex;
    gap: 40px;

  @include laptop {
    gap: 30px;
  }
  }

.header__auth-btn {
    display: flex;
    align-items: center;
    gap:4px;
  transition: color .2s ease-in-out;

    &:hover {
      color: #E5C207;
    }

    &:active{
    color: #FFD600;
    }
  @include mobile {
    font-size: 0;
    gap: 0;
  }

}

