.search {
  position: relative;
  max-width: 580px;
  width: 100%;
  height: 46px;
}

.search__input {
  background-color: #FFFFFF;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 24px;
  color: #A9A9A9;
  font-weight: 300;

}

.search__submit {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
}
