.services {
  padding: 25px 0;

  @include tablet {
    padding-top: 5px;
  }
}

.services__container {
  display: flex;
  gap: 30px 20px;

  @include tablet {
    flex-direction: column;


  }
}

.services__category {

}


.services__list {
  flex: 1 1 100%;
}

.services__item {

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}